CROWDSEC_BOUNCER_API_KEY=ChangeMe
CROWDSEC_URL=http://crowdsec:8080/
DEFAULT_TTL_MAX=4h
GOMAXPROCS=1
IP_FIREWALL_FILTER_RULES_DST=3,4
IP_FIREWALL_FILTER_RULES_SRC=1,2
IP_FIREWALL_RAW_RULES_DST=2,3
IP_FIREWALL_RAW_RULES_SRC=1
IPV6_FIREWALL_FILTER_RULES_DST=2,3
IPV6_FIREWALL_FILTER_RULES_SRC=0,1
IPV6_FIREWALL_RAW_RULES_DST=1,2
IPV6_FIREWALL_RAW_RULES_SRC=0
IKROITK_ADDRESS_LIST_NAME_FORMAT=dynamic
MIKROTIK_FIREWALL_FILTER_ENABLE=true
MIKROTIK_FIREWALL_RAW_ENABLE=true
MIKROTIK_HOST=192.168.0.1:8728
MIKROTIK_PASS=hunter2
MIKROTIK_TLS=false
MIKROTIK_USER=crowdsec-bouncer-user
TICKER_INTERVAL=15s
USE_MAX_TTL=true
