CROWDSEC_BOUNCER_API_KEY=ChangeMe
CROWDSEC_URL=http://crowdsec:8080/
DEFAULT_TTL_MAX=4h
GOMAXPROCS=1
IP_FIREWALL_RULES_SRC=1,2
IP_FIREWALL_RULES_DST=3,4
IPV6_FIREWALL_RULES_SRC=0,1
IPV6_FIREWALL_RULES_DST=2,3
MIKROTIK_HOST=192.168.0.1:8728
MIKROTIK_PASS=hunter2
MIKROTIK_TLS=false
MIKROTIK_USER=crowdsec-bouncer-user
USE_MAX_TTL=true
