CROWDSEC_BOUNCER_API_KEY=ChangeMe
CROWDSEC_URL=http://crowdsec:8080/
MIKROTIK_HOST=192.168.0.1:8728
MIKROTIK_USER=crowdsec-api
MIKROTIK_PASS=hunter2
MIKROTIK_TLS=false
MIKROTIK_IPV6=false
GOMAXPROCS=1
